<a href="/HistoriaMedicas/Historial" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<div class="invoice" style="margin-left: 0 !important; margin-right: 0 !important;">
    <div class="row">
        <div class="col-xs-12">

            <h2 class="page-header">
                <i class="fa  fa-ambulance"></i><u> DoctorWeb: Nuevo Historial Médico</u>
                <small class="pull-right">Fecha: 2/10/2014</small>
            </h2>
            <label>
                <input type="checkbox"> Consulta
            </label>
            &nbsp;
            <label>
                <input type="checkbox"> Emergencia
            </label>
            <br />
            <h5><b>Datos personales:</b></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Nombre completo:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Sexo:</label></td>
                        <td><text><input type="checkbox">Hombre</text>&nbsp;&nbsp;&nbsp;<text><input type="checkbox">Mujer</text></td>
                    </tr>
                    <tr>
                        <td><label>Fecha de nacimiento:</label></td>
                        <td><text><input type="date" class="form-control"></text></td>
                    </tr>
                    <tr>
                        <td><label>Teléfono:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Email:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Dirección:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                </tbody>
            </table>

            <h3 style="text-align:center;"><u>Interrogatorio</u></h3>
            <br />
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Antecedentes personales:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Antecedentes familiar:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Hábitos psicobiologicos:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Antecedentes Prenatales (niños):</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Exámen físico:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Motivo de Consulta:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Enfermedad actual:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label>Diagnostico de ingreso:</label></td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br /><br />
    <hr />
    <a href="/HistoriaMedicas/Historial" class="btn btn-primary pull-left">Agregar Historial Médico</a>
</div>
    <div class="clearfix"></div>
</div>


