<a href="/HistoriaMedicas/Historial" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<div class="invoice" style="margin-left: 0 !important; margin-right: 0 !important;">
    <div class="row">
        <div class="col-xs-12">
            
            <h2 class="page-header">
                <i class="fa  fa-ambulance"></i><u> DoctorWeb: Historial Médico</u>
                <small class="pull-right">Fecha: 2/10/2014</small>
            </h2>
            <label>
                <input type="checkbox" checked> Consulta
            </label>
            &nbsp;
            <label>
                <input type="checkbox"> Emergencia
            </label>
            <br />
            <h5><b>Datos personales:</b></h5>
        </div>
    </div>
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <ul>
                <li>Nombre completo:</li>
                <li>Sexo:</li>
                <li>Edad:</li>
                <li>Teléfono:</li>
                <li>Email:</li>
                <li>Dirección:</li>
            </ul>

    
        </div>
        <div class="col-sm-6 invoice-col">
            <ul class="list-unstyled">
                <li>Juan Gabriel Mendoza Dos Reis</li>
                <li><text><input type="checkbox" checked>Hombre</text>&nbsp;&nbsp;&nbsp;<text><input type="checkbox">Mujer</text></li>
                <li>42</li>
                <li>0212-433.72.56</li>
                <li>juangabriel@aol.com</li>
                <li>Ave. Ppal de Ruiz Pineda, Parroquia Caricuao, Mun. Libertador, CCS-VE</li>
            </ul>
        </div>
        
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
               
                <tbody>
                    <tr>
                        <td><label>Motivo de Consulta:</label></td>
                        <td><text>Dolor en el mangito rotador del hombro derecho</text></td>
                       </tr>
                    <tr>
                        <td><label>Enfermedad actual:</label></td>
                        <td><text>Hombritis</text></td>
                    </tr>
                    <tr>
                        <td><label>Diagnostico de ingreso:</label></td>
                        <td><text>Causado por mal uso de fuerza fisica</text></td>
                    </tr>
                </tbody>
            </table>

            <h3 style="text-align:center;"><u>Interrogatorio</u></h3>
            <br />
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Antecedentes personales:</label></td>
                        <td><text>Dolores de cabeza</text></td>
                    </tr>
                    <tr>
                        <td><label>Antecedentes familiar:</label></td>
                        <td><text>Padre con calvicie</text></td>
                    </tr>
                    <tr>
                        <td><label>Hábitos psicobiologicos:</label></td>
                        <td><text>Ninguno</text></td>
                    </tr>
                    <tr>
                        <td><label>Antecedentes Prenatales (niños):</label></td>
                        <td><text>Ninguno</text></td>
                    </tr>
                    <tr>
                        <td><label>Exámen físico:</label></td>
                        <td><text>Salio muy bien, nada relevante.</text></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  
    <div class="clearfix"></div>
</div>






<div class="box">
    <div class="box-header">
        <h3 class="box-title">Evoluciones:</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Número de Evolución</th>
                    <th>Fecha</th>
                    <th>Descripción</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>20/10/2014</td>
                    <td>Mejoro el movimiento en el codo</td>
                </tr>

            </tbody>

        </table>

        <br /><br />

        <hr />


        <br /><br />
       
       </div>
    
</div>