<h1 style="text-align:center;">Bienvenido al módulo de Historiales Médicos y Entregables</h1>

<br /><br /><br />

<div align="center">
    <img style="align-items:center; margin-bottom:30px;" src="~/Content/dist/img/historial.png" border="0" width="150" height="150">
    <a href="/HistoriaMedicas/Historial" class="btn btn-block btn-danger btn-lg">Panel de Historial Médico</a>
    <br />
    <img style="align-items:center; margin-bottom:30px;" src="~/Content/dist/img/corazon.png" border="0" width="150" height="150">
    <a href="/HistoriaMedicas/RecipeLista" class="btn btn-block btn-danger btn-lg">Panel de Récipe Médico</a>
    <br />
   
</div>