<a href="/HistoriaMedicas/Inicio" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<h1 style="text-align:center;">Panel de Récipes Médicos</h1>
<h5>Buscar por fecha</h5><br /><input type="date" /><br /><br />

<a href="/HistoriaMedicas/AgregarRecipe" class="btn btn-primary pull-left">Agregar Récipe Médico</a>
<br /><br />
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Récipes Médicos</h3>
    </div>
    <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Número de Récipe</th>
                    <th>Paciente</th>
                    <th>Cédula</th>
                    <th>Fecha</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Juan Mendoza</td>
                    <td>V 21.438.230</td>
                    <th>10/20/2014</th>
                    <td><a href="/HistoriaMedicas/RecPersona" class="btn btn-block btn-primary btn-sm">Consultar Récipe</a></td>
                    <td><a href="/HistoriaMedicas/RecipeLista" class="btn btn-block btn-primary btn-sm">Eliminar Récipe</a></td>
                </tr>

            </tbody>

        </table>
    </div>

</div>


