<a href="/HistoriaMedicas/RecipeLista" class="btn btn-primary pull-left">Volver</a>

<br /><br />

<div class="invoice" style="margin-left: 0 !important; margin-right: 0 !important;">
    <div class="row">
        <div class="col-xs-12">

            <h2 class="page-header">
                <i class="fa  fa-ambulance"></i><u> DoctorWeb: Récipe Médico</u>
                <small class="pull-right">Fecha: 20/10/2014</small>
            </h2>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <td><label>Medicamentos:</label></td>
                        <td>
                            <ul>
                                <li>Teragrip</li>
                                <li>Gripflu</li>
                                <li>Atamel</li>
                            </ul>
                        </td>
                        <td><label>Indicaciones:</label></td>
                        <td>
                            <ul>
                                <li>Teragrip 2 veces al dia cada 10 horas</li>
                                <li>Atamel 1 vez a la semana</li>
                            </ul>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
            <hr />
             <a href="/HistoriaMedicas/RecipeLista" class="btn btn-primary">Eliminar Récipe Médico</a>

        </div>
    </div>


</div>

</div>


