
@{
    ViewBag.Title = "CrearPerfil";
}

<h2>CrearPerfil</h2>

<body>

    <br />
          <form method="get" action="/AdmUsuario/Crearp">
       
            <input type="submit" value="Crear Perfil" />

       </form>

    <br />
    <br />
    <form method="get" action="/AdmUsuario/Asignarp">

        <input type="submit" value="Asignar Perfil" />

    </form>

    <br />
    <br />
    <form method="get" action="/AdmUsuario/Eliminarp">

        <input type="submit" value="Eliminar Perfil" />

    </form>

    <br />



      </body>


