
@{
    ViewBag.Title = "Administracion de Perfiles";
}

<h2>Administracion De Perfiles</h2>

<body>

    <br />
    <td><a href="/AdmUsuario/Crearp" class="btn btn-block btn-primary btn-sm">Crear Perfil</a></td>

      

    <br />
    <br />
    <td><a href="/AdmUsuario/Asignarp" class="btn btn-block btn-primary btn-sm">Asignar Perfil</a></td>

    <br />
    <br />
    <td><a href="/AdmUsuario/Eliminarp" class="btn btn-block btn-primary btn-sm">Eliminar Perfil</a></td>

    <br />

    <asp:button id='btnBoton' runat='server' Text='ir atrás' />

      </body>


