
@{
    ViewBag.Title = "   Administracion de Roles";
}

<h2>admrol</h2>

<h1 style="text-align:center;"> Panel De Crear Roles de Usuarios</h1>

<body>

    <br />
    <form method="get" action="/AdmUsuario/crearpermiso">

        <input type="submit" value="Crear Rol" />

    </form>

    <br />
    
    <br />
    <form method="get" action="/AdmUsuario/eliminarpermiso">

        <input type="submit" value="Eliminar Permiso" />

    </form>

    <br />

    <asp:button id='btnBoton' runat='server' Text='ir atrás' />

</body>
