
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

<h1 style="text-align:center;"> Panel De Crear Permiso</h1>

<h5>Nombre De Permiso </h5> <br /><input type="text" /> <br />

<h5>Descripcion De Permiso </h5> <br /><input type="text" /> <br />



<input type="submit" value="Crear Rol" />
