
@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

<h1 style="text-align:center;"> Panel De Crear Perfiles</h1>

<h5>Nombre </h5> <br /><input type="text" /> <br />




<a href=" " class="btn btn-primary pull-left">Crear Perfil</a>