
@{
    ViewBag.Title = "Crear Permisos";
}

<h2>Administracion De Permisos</h2>

<body>

    <br />
          <form method="get" action="/AdmUsuario/Crearp">
       
            <input type="submit" value="Crear Permiso" />

       </form>

    <br />
    <br />
    <form method="get" action="/AdmUsuario/Asignarp">

        <input type="submit" value="Asignar Permiso" />

    </form>

    <br />
    <br />
    <form method="get" action="/AdmUsuario/Eliminarp">

        <input type="submit" value="Eliminar Permiso" />

    </form>

    <br />

    <asp:button id='btnBoton' runat='server' Text='ir atrás' />

      </body>


