
@{
    ViewBag.Title = "Crear Permisos";
}

<h2>Administracion De Permisos</h2>


<h5>Permiso a eliminar</h5> <br /><input type="text" /> <br />







<div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id de Permiso</th>
                <th>Permiso</th>
              

            </tr>
        </thead>
        <tbody>
            <tr>
                <td> </td>
                <td>  </td>
                <td> </td>
                <th>    </th>
                
                <td><a href=" " class="btn btn-block btn-primary btn-sm">Eliminar Permiso</a></td>
            </tr>
        </tbody>
    </table>
</div>





<asp:button id='btnBoton' runat='server' Text='Aceptar' />



<div>
    @Html.ActionLink("Regresar a la Administracion", "admperfil")
</div>
