@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Doctor Web</h1>
    <p class="lead">Bienvenido a la más novedosa plataforma de manejo médico.</p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Facilita todo el manejo</h2>
    <p>
        Concierta tus citas, solicita recursos, gestiona recursos y chequea historiales médicos.
    </p>
    <p><a class="btn btn-default" href="../Account/Login">Ingresa &raquo;</a></p>
    </div>
   @* <div class="col-md-4">
    <h2>Solicita reportes</h2>
    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    <p><a class="btn btn-default" href="../Account/Login">Ingresa &raquo;</a></p
    </div>
    <div class="col-md-4">
        <h2>Gestiona recursos</h2>
      @*  <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="../Account/Login">Ingresa &raquo;</a></p>
    </div>*@
</div>