@model DoctorWebASP.ViewModels.SadFaceViewModel
@{
    ViewBag.Title = "SadFace";
}

<section class="content-header">
    <h1>
        Cita Medica
        <small>Oh no!</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cita</a></li>
        <li class="active">Algo fallo!</li>
    </ol>
</section>

<section class="content">
    <div class="box box-danger">
        <div class="box-body">
            <div class="box-header with-border">
                <h3 class="box-title">Oh no!</h3>
            </div>
            <div class="row"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4" align="center">
                <h1><i class="fa fa-frown-o fa-5x" aria-hidden="true"></i></h1>
                <h1>@Html.DisplayFor(m => m.Mensaje)</h1>
                @if (Model.Mensaje == "YouGotTrolled")
                {
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/lXMskKTw3Bc?autoplay=1" frameborder="0" allowfullscreen></iframe>
                }
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>



@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


}




